/* MAIN STUFF */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  position: relative;
  width: 100%;
  background-color: gray;
}

/* LINKS */
a, a:visited {
  color: #d41041;
}

a:hover {
  color: #f0abbd;
}

/* TEXT */
p {
  padding: 5px;
  margin: 0px;
  font-size: 16px;
  text-align: center;
}

p strong {
  font-size: 18px;
}

p em {
  font-size: 17px;
}

em {
  color: #495057;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1 {
  display: inline;
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 30px 10px 10px 10px;
}

h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

/* CONTENT */
#Box {
  background: #FFFFFF;
  margin: 50px;
  border-style: solid;
  border-color: #F0F0F0;
  border-width: 7px;
  border-radius: 30px;
  padding: 20px;
}
