/* MAIN STUFF */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 15px;
  color: #000000;
  position: relative;
  width: 100%;
  background-color: gray;
}

/* LINKS */
a, a:visited {
  color: #d41041;
}

a:hover {
  color: #f0abbd;
}

/* TEXT */
p {
  padding: 5px;
  margin: 0px;
  font-size: 16px;
  text-align: center;
}

p strong {
  font-size: 18px;
}

p em {
  font-size: 17px;
}

em {
  color: #495057;
}

h1,h2,h3,h4,h5,h6 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

h1 {
  display: inline;
  font-family: 'Satisfy', cursive;
  font-size: 80px;
  color: #000000;
  text-align: center;
  position: relative;
  padding: 30px 10px 10px 10px;
}

h2 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 40px;
  text-align: center;
}

/* CONTENT */
#top {
  display: inline-block;
  margin: 0px;
  background: #FFFFFF;
  background-image: url("img/001.jpg");
  background-size: cover;
  background-position: right center;
  color: #000000;
  padding: 20px 0px;
  position: relative;
  vertical-align: top;
  width: 100%;
  height-min: 200px;
  height-max: 400px;
  background-color: hsla(0,0%,100%,0.50);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
}

#about {
  display: inline-block;
  margin: 0px;
  background: #F0F0F0;
  color: #000000;
  padding: 20px 0px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

#Box {
  background: #FFFFFF;
  margin: 50px;
  border-style: solid;
  border-color: #F0F0F0;
  border-width: 7px;
  border-radius: 25px;
  padding: 20px;
}

#footer p {
  font-size: 13px;
}

/* IMAGE EFFECTS */
#circle {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 10px;
  border-radius: 100px;
}

#img {
  padding: 0px;
  margin: 0px;
  border-style: solid;
  border-color: #F0F0F0;
  border-width: 10px;
  border-radius: 30px;
  width: 300px;
}

.projectlabel {
  padding: 20px;
}

.projectimg {
  margin: 10px;
  position: relative;
  width: 300px;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 10px;
}

.projectimg:hover {
  width: 300px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
